.userPhoto {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}
.selectedPage {
  font-weight: bold;
}
.Page {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
}
.prealoaderCont {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerUsers {
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid rgb(97, 97, 97);
}
.container {
  width: 800px;
  margin: 0 auto;
}
.item {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid rgb(107, 107, 107);
  color: rgb(255, 255, 255);
  display: flex;
}
.userNameCont {
  margin-left: 50px;
}
.userName {
  margin-bottom: 15px;
}
.userStatus {
  margin-bottom: 15px;
}
.userFollow {
  padding: 5px 10px;
  color: #fff;
  border: none;
  outline: none;
  background-color: rgba(54, 54, 54, 0);
  margin-bottom: 15px;
  margin-left: 50px;
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 5px;
}
