.nav__link {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;

  font-size: 15px;
  color: #919191;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.4s;
  font-family: "Myriad Set Pro Ultralight Кириллический";
  border: 1px solid #444444;
  outline: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: #e0e0e0;
  }
}
.Li {
  margin: 0px 3px;
}
.active {
  color: #ffffff;

  &:hover {
    color: #e0e0e0;
  }
}
li::marker {
  color: rgba(0, 0, 139, 0);
}
.container {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.pagination {
  flex: 0 0 auto;
}
.Of {
  display: none;
}
