.App {
  margin: 0;
  font-family: "Motserrat", sans-serif;
  font-size: 15px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.all {
  min-height: 100vh;
  background-color: rgb(49, 47, 47);
}
